<header>
    <nav>
        <ul class="nav-ul">
            <li class="nav-li" style="height:50px;">
                <img src="https://www.pngjoy.com/pngl/172/14798380_rick-astley-every-spread-of-the-2013-2014.png" style="height:50px" alt="">
            </li>
            <li class="nav-li-hamburger hide_on_desktop">

                <button id="hamburger-button">
                    <div class="hamburger-slice"></div>
                    <div class="hamburger-slice"></div>
                    <div class="hamburger-slice"></div>
                </button>
                <div class="hamburger-dropdown closed">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">About Us</a>
                    <a href="/posts">Posts</a>
                    <a href="/users">Users</a>
                </div> 
            </li>
            <li class="nav-li-a">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">About Us</a>
            </li>
            <li class="nav-li-a">
                <a href="/posts">Posts</a>
            </li>
            <li class="nav-li-a">
                <a href="/users">Users</a>
            </li>
        </ul>
    </nav>
</header>