<header>
    <nav class="">
        <ul class="nav-ul">
            <li class="nav-li">
                <img src="https://www.pngjoy.com/pngl/172/14798380_rick-astley-every-spread-of-the-2013-2014.png" style="height:50px" alt="">
            </li>

            <li class="nav-li-a">
                <a href="/posts">Posts</a>
            </li>

            <li class="nav-li-a">
                <a href="/users">Users</a>
            </li>
        </ul>
    </nav>
</header>