<header>
    <nav class="nav-top">
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="/">
                    <img class="head" src="https://www.pngjoy.com/pngl/172/14798380_rick-astley-every-spread-of-the-2013-2014.png" alt="myFace logo">
                </a>
            </li>
            <li class="nav-li-title">
                <span>MyFace</span>
            </li>
            <li class="nav-link">
                <a href="/posts">Posts</a>
            </li>
            <li class="nav-link">
                <a href="/users">Users</a>
            </li>
        </ul>
    </nav>
</header>