/* Add your styles here. */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap);

body {

    padding-top: 2rem;
    font-family: Roboto, helvetica neue, serif;
    /*text-decoration-color: burlywood;*/
    font-style: normal;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background-color: #282c34;
}


footer {
    flex: auto;
    color: aliceblue;
}

.page-content {
    flex: auto;
    margin-left: 5em;
}

.nav-top {
    background-color: mediumpurple;
    height: 50px;
    border-radius: 10px;
}
.head {
    height:90%;
    margin-left:1em;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-li {
    float: left;
}

.nav-li-title {
    font-size: 32px;
    float: left;
    color:aliceblue;
    font-weight: bolder;
    padding: 5px;
    margin-right: 20px;
}

.nav-link {
    color: aliceblue;
    float: right;
    padding: 14px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.nav-link :hover {
    color: lightgrey;
}

.bottom-Nav{
    float: left;
    position: absolute;
    margin-top: 20px;
}

.bottom-Nav-link {
    float: left;
    color: aliceblue;
    padding: 14px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.bottom-Nav-link :hover {
    color: lightgrey;
}

.post {
    margin-left: 5em;
    padding: 5px;
    color: aliceblue;
    border-color: white;
    border-width: 5px;
    width: 80%;
}

#likey {
    display: inline-flex;
    font-size: 30px;
    border: none;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    margin-top: 10px;
    background-color: transparent;
}

#likey:hover {
    font-size: 30px;
    border: none;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: mediumpurple;
    /*opacity: 0.7;*/
    background-color: transparent;
}

.page-title{
    font-size: 3em;
    font-weight: 700;
    margin-left: 5rem;
}


ol, ul {
    list-style: none;
}

h1 {
    color: azure;
    font-size: 3em;
    font-weight: 900;

}

h2 {
    font-size: 3em;
    font-weight: 300;
}

h3 {
    color: azure;
    font-size: 3em;
    font-weight: 400;
}

h4 {
    font-weight: bold;
}

p {
    font-weight: 300;
}

a:link {
    text-decoration: none;
    color: aliceblue;
}

.image-medium {
    /* something to go here */
}

.hero-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.sticky {
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
    width: 80%;
    float: left;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
    width: 80%;
    float: left;
}

/* Solid border */
hr.solid {
    border-top: 1px solid #bbb;
    width: 80%;
    float: left;
    margin-bottom: 20px;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 80%;
    float: left;
}
/*-------------------------------------------------------Special*/
.dropdown {
    position: relative;
    display: inline-flex;
}

.dropbtn {
    margin-top: 0;
    background-color:transparent;
    color: aliceblue;
    padding: 5px;
    font-size: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: cornflowerblue;
    background-color: rgba(228,222,227,0.2);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 14px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

/*-------------------------------------------------------effects*/


.fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}