/* Add your styles here. */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap);

body {

    padding-top: 2rem;
    font-family: Roboto, helvetica neue;
    /*text-decoration-color: burlywood;*/
    font-style: normal;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background-color: #282c34;
}

header {

}

footer {
    color: aliceblue;
}

.page-content {
    margin-left: 5em;
}

nav {
    background-color: coral;
    height: 50px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav-li {
    float: left;
    /*display: block;*/
    /*display: inline;*/
}

.nav-li-a {
    float: left;
    padding: 10px;
    /*display: block;*/
    /*display: inline;*/
}

.post {
    margin-left: 5em;
    padding: 5px;
    color: aliceblue;
    border-color: white;
    border-width: 5px;
    width: 80%;
}

#likey {
    font-size: 30px;
    border: none;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    /*opacity: 0.7;*/
    background-color: transparent;
}

#likey:hover {
    font-size: 30px;
    border: none;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: chartreuse;
    /*opacity: 0.7;*/
    background-color: transparent;
}

ol, ul {
    list-style: none;
}

h1 {
    color: azure;
    font-size: 3em;
    font-weight: 900;

}

h2 {
    font-size: 3em;
    font-weight: 300;
}

h3 {
    color: azure;
    font-size: 3em;
    font-weight: 400;
}

h4 {
    font-weight: bold;
}

p {
    font-weight: 300;
}

a:link {
    text-decoration: none;
}

.image-medium {
    /* something to go here */
}

.hero-image {
    width: 600px;
    height: auto;
    border-radius: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
    width: 80%;
    float: left;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
    width: 80%;
    float: left;
}

/* Solid border */
hr.solid {

    border-top: 1px solid #bbb;
    width: 60%;
    float: left;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 80%;
    float: left;
}

/*-------------------------------------------------------effects*/


.fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}